#link_about {
    color: blue;
}
#link_skills {
    color: red;
}
#link_portfolio {
    color: green;
}
#link_contact {
    color: violet;
}
#about{
    background-color: aqua;
}
.square{
    display: inline-block;
    width: 50px;
    height: 50px;
}
#square1S{
    background-color: blue;
}
#square2S{
    background-color: red;
}
#square3S{
    background-color: green;
}
#square4S{
    background-color: violet;
}