#link_about {
    color: blue;
}
#link_skills {
    color: red;
}
#link_portfolio {
    color: green;
}
#link_contact {
    color: violet;
}
#about{
    background-color: aqua;
}
.skills-square{
    display:inline-block;
    width: 100px;
    height: 100px;
}
#square1S{
    background-color: blue;
}
#square2S{
    background-color: red;
}
#square3S{
    background-color: green;
}
#square4S{
    background-color: violet;
}
.portfolio-square{
    display: block;
    width: 200px;
    height: 200px;
    border: 20px;
    border: 25px solid black;
    margin: 10px;
}
#square1P{
    background-color: yellow;
}
#square2P{
    background-color: grey;
}
#square3P{
    background-color: orange;
}
#submit_button{
    width: 100px;
    height: 50px;
    background-color: deepskyblue;
    color: white;
}